<html>
   <head>
      <title>AngularJS First Application</title>
   </head>
   <body ng-app="myModule">
      <h1>Sample Application</h1>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	  <script>
	  var myApp = angular
	              .module("myModule",[])
	              .controller("myController",function($scope){
	  var employees=[
	  { name : "Ben", dateofBirth: new Date("November 23,1980"), gender:"Male", salary:55000.778},
	  { name : "Sara", dateofBirth: new Date("May 5,1970"), gender:"Female", salary:68000},
	  { name : "Mark", dateofBirth: new Date("August 15,1974"), gender:"Male", salary:57000},
	  { name : "Pam", dateofBirth: new Date("October 27,1979"), gender:"Female", salary:53000},
	  { name : "Todd", dateofBirth: new Date("December 30,1983"), gender:"Male", salary:60000},
	  ];
      $scope.employees=employees;
	  $scope.sortColumn="name";
	  });
</script>
<link href = "C:\Style.css" rel="stylesheet" />
<div ng-controller="myController">
Order By:<select ng-model="sortColumn">
<option value="name"> Name ASC</option>
<option value="gender"> Gender ASC</option>
<option value="dateofBirth"> Date Of Birth ASC</option>
<option value="-salary"> Salary DESC</option>
</select> 
</br></br>
<table>
<thead>
<tr>
<th>Name</th>
<th>Date of Birth</th>
<th>Gender</th>
<th>Salary (number)</th>
<th>Salary (currency)</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="employee in employees | orderBy:sortColumn">
<td>{{employee.name | uppercase}}</td>
<td>{{employee.dateofBirth | date:"dd/MM/yyyy"}}</td>
<td>{{employee.gender | lowercase}}</td>
<td>{{employee.salary | number:2}}</td>
<td>{{employee.salary | currency}}</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>